<h1>Profile</h1>
<p>Name : <%= @user.name %> ( <%= @user.id %> ) <p>
<p>email: <%= @user.email %><p>
<br>
<% if current_user.id == @user.id %>
	<%= link_to("Let's post!", "#") %>
<% end %>

<%= render '/shared/links' %>

<h3>Post form<h3>
<%= render '/shared/post_form' %>

<p>POST LIST</p>
 <%= render partial: "posts/posts_index", collection: @posts %>
