<% if logged_in? %>
	<p>You logged in as <%= link_to current_user.name, "/users/#{current_user.id}" %></p>
<% else %>
	<p>You are not logged in</p>
<% end %>

<li>
	<%= link_to "Home", root_path %>
</li>

<li>
	<%= link_to "register", "/users/new" %>
</li>

<li>
<% if logged_in? %>
	<%= link_to "logout", "/logout", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% else %>
	<%= link_to "login", login_path %>
<% end %>
</li>

<li>
	<%= link_to "Users' list", users_path %>
</li>

<li>
	<%= link_to "Post list", posts_path %>
</li>